<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GolemDB" connectionString="Data Source=PROTOTEST-AT\SQLEXPRESS;Database=GolemDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
  <appSettings>
    <add key="SqlScriptsPath" value="C:\Users\Adan\Documents\GitHub\Golem\Golem.DBManagement\SqlQueries\"/>
  </appSettings>
</configuration>