<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Browser1" value="Chrome" />
    <add key="SpellChecking" value="False" />
    <add key="HighlightOnVerify" value="False" />
    <add key="ForceSendKenticoEmails" value="True" />
    <add key="GlobalAdmin" value="msiwiec@prototest.com" />
    <add key="UserEmail1" value="prototestuser1@mailinator.com" />
    <add key="UserEmail2" value="prototestuser2@mailinator.com" />
    <add key="AssessorEmail" value="prototestassessor@mailinator.com" />
    <add key="Password" value="prototest123!!" />
    <add key="EnvUrl" value="http://lcdev.bluemodus.com/" />
    <add key="PortfolioID_0" value="0" />
    <add key="PortfolioID_1" value="0" />
    <add key="UseProxy" value="false" />
    <add key="StartProxy" value="false" />
  </appSettings>
</configuration>