<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SpellChecking" value="False" />
    <add key="HighlightOnFind" value="False" />
    <add key="UserEmail1" value="ProtoTestUser02144640@mailinator.com" />
    <add key="UserEmail2" value="ProtoTestUser02144721@mailinator.com" />
    <add key="EnvUrl" value="http://lcdev.bluemodus.com/" />
  </appSettings>
</configuration>