<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Browser1" value="Firefox" />
    <add key="SpellChecking" value="False" />
    <add key="HighlightOnVerify" value="False" />
    <add key="UserEmail1" value="ProtoTestUser15153458@mailinator.com" />
    <add key="UserEmail2" value="ProtoTestUser15153519@mailinator.com" />
    <add key="EnvUrl" value="http://lcdev.bluemodus.com/" />
  </appSettings>
</configuration>