<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Browser1" value="Firefox" />
    <!--<add key="Browser2" value="Chrome" />
    <add key="Browser3" value="IE" />-->
    <add key="LaunchBrowser" value="True" />
    <add key="CommandDelayMs" value="0" />
    <add key="RunOnRemoteHost" value="False" />
    <add key="HostIp" value="10.10.1.60" />
    <add key="HtmlOnError" value="True" />
    <add key="ScreenshotOnError" value="True" />
    <add key="VideoRecordingOnError" value="True" />
    <add key="CommandLogging" value="True" />
    <add key="ActionLogging" value="True" />
    <add key="StartFiddlerProxy" value="False" />
    <add key="ProxyPort" value="8876" />
    <add key="SpellChecking" value="False"/>
  </appSettings>
</configuration>