<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="White">
      <section name="Core" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Browser1" value="Chrome" />
    <add key="Browser2" value="Firefox" />
    <add key="Browser3" value="PhantomJS" />
    <add key="Browser4" value="Safari" />
    <add key="HostIp" value="localhost" />
    <add key="LaunchBrowser" value="True" />
    <add key="CommandDelayMs" value="0" />
    <add key="RunOnRemoteHost" value="false" />
    <add key="DegreeOfParallelism" value="5" />
    <add key="HtmlOnError" value="True" />
    <add key="ScreenshotOnError" value="True" />
    <add key="VideoRecordingOnError" value="True" />
    <add key="ValidateTraffic" value="True" />
    <add key="CommandLogging" value="True" />
    <add key="ActionLogging" value="True" />
    <add key="DiagnosticLog" value="True" />
    <add key="TestLog" value="True" />
    <add key="StartProxy" value="False" />
    <add key="UseProxy" value="False" />
    <add key="ProxyPort" value="18881" />
    <add key="ProxyServerPort" value="18880" />
    <add key="TestTimeoutMin" value="5" />
    <add key="ElementTimeoutSec" value="5" />
    <add key="EnvironmentUrl" value="http://www.google.com" />
    <add key="ValidateSpellcheck" value="false" />
    <add key="CustomSetting" value="WasFound" />
    <add key="UpdateImages" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>