<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.8" targetFramework="net40" />
  <package id="Gallio_MbUnit" version="3.4.14.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net40" />
  <package id="NUnit" version="3.2.1" targetFramework="net40" />
  <package id="NUnit.Console" version="3.2.1" targetFramework="net40" />
  <package id="NUnit.ConsoleRunner" version="3.2.1" targetFramework="net40" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.2.1" targetFramework="net40" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.2.1" targetFramework="net40" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.2.1" targetFramework="net40" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.2.1" targetFramework="net40" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net40" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" />
  <package id="Selenium.Support" version="2.53.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.53.0" targetFramework="net40" />
</packages>