<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="Browser" value="Firefox" />
    <add key="CommandDelayMs" value="250"/>
    <add key="EnvironmentUrl" value="http://demo.fmx.bz/"/>
    <add key="StartFiddlerProxy" value="True"/>
    <add key="ProxyPort" value="8878"/>
    <add key="TestTimeoutMin" value="10"/>
    <add key="CommandLogging" value="False"/>
    <add key="ElementTimeoutSec" value="30"/>
  </appSettings>
</configuration>