<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="Browser1" value="Firefox" />-->
    <add key="Browser2" value="Chrome" />
    <add key="RunOnRemoteHost" value="True"/>
    <add key="HostIp" value=""/>
    <add key="LaunchBrowser" value="True" />
    <add key="CommandDelayMs" value="0" />
    <add key="RunOnRemoteHost" value="false" />
    <add key="HostIp" value="localhost" />
    <add key="HtmlOnError" value="True" />
    <add key="ScreenshotOnError" value="True" />
    <add key="VideoRecordingOnError" value="True" />
    <add key="CommandLogging" value="True" />
    <add key="ActionLogging" value="True" />
    <add key="StartProxy" value="False" />
    <add key="UseProxy" value="False" />
    <add key="ProxyPort" value="8876" />
  </appSettings>
</configuration>