<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="LaunchBrowser" value="False" />
  <add key="StartFiddlerProxy" value="False"/>
  <add key="LaunchApp" value="True" />
  <add key="AppPath" value="C:\Users\Brian\Documents\Appium\Splash.apk" />
  <add key="AppPackage" value="com.totsp.bookworm" />
  <add key="AppActivity" value="Splash" />
  <add key="AppOs" value="Android" />
    </appSettings>
</configuration>